<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: "Outfit", serif;
    }
  </style>
  <title>Login</title>
</head>

<body class="w-screen h-screen">
  <div class="w-full h-full bg-zinc-800 flex justify-center items-center">
    <div class="w-[430px] min-h-screen bg-[#FDFBD4] m-auto p-4">
      <a href="/" class="text-lg">Home</a>
      <div class="w-full flex justify-center items-center flex-col gap-10 mt-30">
        <div>
          <h3 class="text-2xl">Login your account !</h3>
        </div>
        <form action="/user/login" method="post" class="w-full flex justify-center flex-col gap-2">
          <div class="flex gap-1 mt-2">
            <img src="/images/email.png" width="24">
            <p>Email</p>
          </div>
          <input type="text" placeholder="Enter your email" name="email"
            class="py-3 px-3 bg-transparent bg-yellow-300 border-2 rounded-sm outline-0">
          <div class="flex gap-1 mt-2">
            <img src="/images/password.png" width="24">
            <p>Password</p>
          </div>
          <input type="password" placeholder="Enter your password" name="password"
            class="py-3 px-3 bg-transparent bg-yellow-300 border-2 rounded-sm outline-0">

          <input type="submit" value="Login"
            class="w-[50%] cursor-pointer flex m-auto py-3 px-3 bg-transparent bg-yellow-300 border-2 hover:shadow-xl rounded-sm outline-0 mt-4">
            <a href="/user/forgot-password" class='flex m-auto gap-1 text-sm'>Forgot password ? <span class="text-blue-500">Change your password</span></a>
        </form>
          <a href="/user/signup">Need to create new account ? <span class="text-blue-500">Sign Up</span></a>
      </div>
    </div>

  </div>
</body>

</html>