<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: "Outfit", serif;
    }
  </style>
  <title>Project Info</title>
</head>

<body class="w-screen h-screen">
  <div class="w-full h-full bg-zinc-800 flex justify-center items-center">
    <div class="w-[430px] min-h-screen bg-[#FDFBD4] p-4">
      <div class="w-full flex justify-between items-center">
        <a href="/user/settings" class="text-lg">Back</a>
        <form action="/user/logout" method="post">
          <button type="submit"
            class="cursor-pointer flex m-auto py-2 px-3 text-white bg-red-500 border-2 border-black hover:shadow-xl rounded-sm outline-0">Logout</button>
        </form>
      </div>

      <div class="w-full flex flex-col gap-4 mt-4">
        <div class="w-full flex justify-center items-center mt-4">
          <img src="/images/app_logo.png" width="200" class="rounded-3xl">
        </div>

        <div class="mt-4">
          <li>Add, edit, and delete expenses</li>
          <li>Categorize expenses (feature not released yet...)</li>
          <li>View total expenses for the day, week, and month (feature not released yet...)</li>
          <li>UI for mobile app</li>
          <li>Backend for persistent storage</li>
          <li>User Authentication</li>
        </div>

        <p class="w-full flex m-auto font-bold">App version 1.2.7</p>

      </div>

    </div>

  </div>
</body>

</html>